
<div class="content-form">
    <h3>Leave a comment</h3>
    <form method="post">
        <input type="hidden" placeholder="BlogId" name="BlogId" value="@ViewBag.value" required/>
        <input type="text" placeholder="Username" name="Username" required />
        <input type="text" placeholder="Mail" name="Mail" required />
        <textarea placeholder="Review" name="Review"></textarea>
        <input type="submit" value="SEND" />
    </form>
</div>