@model Holiday_TravelSite.Models.Entities.Contact
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<style>
    .button {
        color:#555
    }
</style>

<!DOCTYPE HTML>
<html>
<head>
    <title>Free Easy-Trip Website Template | Contact :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/slider.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="contact">
        <div class="wrap">
            <div class="contact-top">
                <h3>Contact Information</h3>
            </div>
            <div class="form">
                <form class="cmxform" method="post">
                    <div>
                        <input type="text" class="textbox" name="NameSurname" id="NameSurname" placeholder="Name:">
                    </div>
                    <div>
                        <input type="text" class="textbox" name="Mail" id="Mail" placeholder="Email:">
                    </div>
                    <div>
                        <input type="text" class="textbox" name="Subject" id="Subject" placeholder="Subject:">
                    </div>
                    <div>
                        <input type="text" name="Message" id="Message" cols="30" rows="20" class="form-control" placeholder="Write your message..">
                    </div>
                    <div>
                        <button class="btn btn-info" type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="contact-bottom">
                <div class="contact-left">
                    <div class="contact-add">
                        <h3>Address One</h3>
                        <p> insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
                        <p>Telephone:1-22-5555</p>
                        <p>Fax:1-22-5555</p>
                        <p>Email:<a href="mailto:signup@gmail.com">signup@mail.com</a></p>
                    </div>
                    <div class="contact-add">
                        <h3>Address Two</h3>
                        <p>Telephone:1-22-5555</p>
                        <p>Fax:1-22-5555</p>
                        <p>Email:<a href="mailto:signup@gmail.com">signup@mail.com</a></p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="contact-map">
                    <iframe width="1000" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d78352.09927451122!2d5.510767527823093!3d52.143359740669034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c64c08520de653%3A0xc9f82c31f3509867!2sBarneveld%2C%20Netherlands!5e0!3m2!1sen!2str!4v1731650479134!5m2!1sen!2str"></iframe><br><small><a href="http://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Rashelle+Way,+San+Ramon,+CA,+United+States&amp;aq=0&amp;oq=rash&amp;sll=44.308127,-111.75293&amp;sspn=22.280521,53.569336&amp;ie=UTF8&amp;hq=&amp;hnear=Rashelle+Way,+San+Ramon,+Contra+Costa,+California+94582,+United+States&amp;ll=37.768294,-121.922369&amp;spn=0.001503,0.00327&amp;t=m&amp;z=14&amp;iwloc=A" style="color: #555;text-align:left">View Larger Map</a></small>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>


