@using Holiday_TravelSite.Models.Entities
@model List<Blog>
<div class="con-bot">
    @foreach (var item in Model)
    {
        //partial2 oluşturmadım style vererek iş çözüldü
        <div class="left" style="width:29%;float:left;" class="left">
            <div class="bot-left">
                <img src="@item.ImageUrl" alt="" style="width:300px;height:150px" />
            </div>
            <div class="left-text">
                <h4>@item.Title</h4>
                <span class="doller">@item.Date.ToShortDateString()</span>
                <p>@item.Description.Substring(0,180)</p>
                <p><a href="/Blog/Detail/@item.BlogId"><span class="read">Read More</span></a></p>
            </div>
        </div>
    }
    <div class="clear"></div>
</div>